[submodule "cc65"]
	path = cc65
	url = git@github.com:cc65/cc65.git
[submodule "neslib"]
	path = neslib
	url = git@github.com:sehugg/neslib.git
[submodule "sdcc-m6502"]
	path = sdcc
	url = https://github.com/sehugg/sdcc-m6502
[submodule "6809tools"]
	path = 6809tools
	url = https://github.com/sehugg/6809tools
[submodule "yasm"]
	path = yasm
	url = https://github.com/yasm/yasm
[submodule "verilator"]
	path = verilator
	url = https://github.com/verilator/verilator
[submodule "zmac"]
	path = zmac
	url = git@github.com:sehugg/zmac.git

[submodule "SmallerC"]
	path = SmallerC
	url = https://github.com/alexfru/SmallerC
